body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

h2 {
  font-size: 1.8em;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}

/** HEADER **/

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  margin: 15px 15px 15px 0px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family:'Oxygen', sans-serif;
  color: green;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 15px 15px 15px 0px;
}

#nav-list a {
  color: white;
  text-align: center;
  background-color: grey ;
   border-top: 6px solid #f6b319;
}

#nav-list a span {
  font-size: 1.5em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 0px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}

.block {
  background: grey;
  padding: 25px;
  margin: 25px;
}



/**** Media queries ***/


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) { 
 
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
  
 #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }
 
  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  #nav-list { visibility: hidden;
 }

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  

  #nav-list { visibility: hidden;
 }

}


@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }


